<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{Variavel}}</h1>

    <img src="../static/img/Desafio.jpeg" alt="Desafio_matemático" width="460" height="345">
    
    <form action="{{url_for('index')}}", method="post">  
        <label for="">Número a: </label>
        <input type="text" name="name" placeholder= "Número a"><br>
        <label for=""> Número b: </label>
        <input type="text" name="name1" placeholder= "Número b"><br>
        <label for=""> Número c: </label>
        <input type="text" name="name2" placeholder= "Número c"><br>
        <label for=""> Número d: </label>
        <input type="text" name="name3" placeholder= "Número d"><br>
        <button>Enviar</button>
    </form>

    
    
  
    
</body>
</html>